name: CI/CD to Huawei SWR and CCE bucca dev

on:
  push:
    branches:
      - dev
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Log in to Huawei Cloud SWR
        uses: huaweicloud/swr-login@v2.1.0
        with:
          access-key-id: ${{ secrets.CCE_ACCESSKEY }}
          access-key-secret: ${{ secrets.CCE_SECRET_ACCESSKEY }}
          region: af-south-1

      - name: Build and push Docker image
        run: |
          docker build -t swr.af-south-1.myhuaweicloud.com/secureid_digital_repos/bucca-api-dev:${{ github.sha }} -f docker/prod/Dockerfile
          docker push swr.af-south-1.myhuaweicloud.com/secureid_digital_repos/bucca-api-dev:${{ github.sha }}

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure kubectl for Huawei Cloud CCE
        run: |
          sudo mkdir -p $HOME/.kube
          sudo chown -R runner:runner $HOME/.kube
          export KUBECONFIG=$HOME/.kube/config
          echo "${{ secrets.KUBE_CONFIG_DATA }}" > $KUBECONFIG

      - name: Update deployment
        run: |
          sed -i "s@swr.af-south-1.myhuaweicloud.com/secureid_digital_repos/bucca-api-dev:[a-z0-9]*@swr.af-south-1.myhuaweicloud.com/secureid_digital_repos/bucca-api-dev:${{ github.sha }}@g" $GITHUB_WORKSPACE/config/eks/deployment-api-dev.yaml


      - name: Debugging
        run: |
          kubectl version
          kubectl cluster-info
          kubectl get nodes

      - name: Create backend-dev namespace if it doesn't exist
        run: |
            kubectl get ns backend-dev || kubectl create ns backend-dev         

      - name: Deploy to Huawei CCE
        run: |
          kubectl apply -f $GITHUB_WORKSPACE/config/eks/deployment-api-dev.yaml
          # kubectl apply -f $GITHUB_WORKSPACE/config/eks/ingress-api-dev.yaml

        